[submodule "symbolic-core"]
	path = symbolic-core
	url = git@github.com:Lydia-No/symbolic-core.git
[submodule "symbolic-dynamics-lab"]
	path = symbolic-dynamics-lab
	url = git@github.com:Lydia-No/symbolic-dynamics-lab.git
[submodule "symbolic-cube-explorer"]
	path = symbolic-cube-explorer
	url = git@github.com:Lydia-No/symbolic-cube-explorer.git
[submodule "cube-lab/hypercube-observer"]
	path = cube-lab/hypercube-observer
	url = git@github.com:Lydia-No/hypercube-observer.git
[submodule "symbolic-engine/symbolic-dynamics-engine"]
	path = symbolic-engine/symbolic-dynamics-engine
	url = git@github.com:Lydia-No/symbolic-dynamics-engine.git
